.subjectHeader {
color: purple;
font-family: sans-serif;
}
#scoreBoard {
text-align: center;
border: 1px solid blue;
}
td, th, tr {
border: 1px solid green;
text-align: center;
}
th {
color: red;
}
ul {
list-style: square;
}
.hyperLink:hover {
background-color: yellow;
}
blockquote {
background-color: brown;
color: white;
}
#teamRoster > li > img {
position: relative;
opacity: .20;
top: 80px;
left: 40px;
height: 100px;
}
#checkbox-grid {
list-style-type: none;
}
